/* Стиль для кнопок */
.btn-custom {
    background-color: rgb(241, 116, 130);
    border-color: rgb(241, 116, 130);
    color: #fff;
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Ефект при наведенні на кнопку */
.btn-custom:hover {
    background-color: #fad0c4;
    border-color: #fad0c4;
}

/* Стиль для кнопки з прозорим фоном */
.btn-outline-custom {
    background-color: transparent;
    border-color: rgb(241, 116, 130);
    color: rgb(241, 116, 130);
    border-radius: 30px;
    padding: 12px 24px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Ефект при наведенні на кнопку з прозорим фоном */
.btn-outline-custom:hover {
    background-color: rgb(241, 116, 130);
    color: #fff;
}

/* Додаткові стилі для зображення картки */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Стилі для нижньої частини картки */
.card-footer p {
    margin: 0;
}

/* Жирний шрифт для темної кнопки */
.btn-outline-dark {
    font-weight: bold;
}

/* Стилі для футера */
.sweet-footer {
    font-style: italic;
    color: #ffb3c6;
    font-size: 12px; /* Зменшення розміру шрифту */
}

.footer-address {
    font-size: 13px;
    color: #fff;
}

.footer-hours {
    font-size: 13px;
    color: #ffb3c6;
}

/* Стиль для зображення товару */
.product-image {
    object-fit: contain;
    width: 100%;
    max-height: 600px;
    height: auto;
}

/* Обмеження розмірів картки */
.card {
    max-width: 700px;
    margin: 0 auto;
}

/* Медіазапит для ширших екранів */
@media (min-width: 768px) {
    .product-image {
        height: 100%;
        max-height: none;
    }
}

/* Стиль для вмісту картки */
.card-body {
    padding: 2rem;
    color: #6c757d;
}

/* Стиль для назви товару */
.card-title {
    font-size: 1.8rem;
    color: black; /* Назва товару чорна */
}

/* Стиль для тексту картки */
.card-text {
    font-size: 1.1rem;
    height: auto;
    overflow: hidden;
    white-space: normal;
}

/* Стиль для кнопок */
.btn {
    font-size: 1.1rem;
}

/* Стиль для ціни товару */
.price {
    color: #000 !important;
    font-weight: bold;
}

/* Стиль для блоку з подібними товарами */
.related-products {
    padding: 2rem 0;
}

/* Стиль для картки товару в блоці подібних товарів */
.related-products .product-card {
    max-width: 200px;
    margin-right: 20px;
}

/* Прокрутка контейнера з подібними товарами */
.scrolling-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem 0;
}

/* Картка товару в контейнері з прокруткою */
.scrolling-container .product-card {
    display: inline-block;
    margin-right: 20px;
}
