/* Стили для заголовков категорий */
.category-title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.category-name {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.category-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f17482; 
    z-index: 0;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-footer p {
    margin: 0;
}

.btn-outline-dark {
    font-weight: bold;
}

.sweet-footer {
    font-style: italic;
    color: #ffb3c6;
    font-size: 12px; 
}

.footer-address {
    font-size: 13px;
    color: #fff;
}

.footer-hours {
    font-size: 13px;
    color: #ffb3c6;
}

